<a href="https://colab.research.google.com/github/hiti2006/c97new/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
num=30
print("This is a number",num)

This is a number 30

In [5]:
num=23
name="Hiti"

type(num)

int

In [8]:
num1=5
num2=2.5
print(num1)
type(num2)

5

float

In [13]:
celsius=32.5
farenheit=(celsius*(9/5))+32
print(farenheit)

90.5

In [25]:
sum(12,13)

25

In [33]:
def calculate(option):
  if(option=='1' or option=='2'):
    num1=float(input("Enter first Number: "))
    num2=float(input("Enter second Number: " ))

    if option=='1':
      print("Sum",num1,"+",num2,"=",sum(num1,num2))

    elif option=='2':
      print("Difference",num1,"-",num2,"=",subtraction(num1,num2))

  else:
    print("Invalid Input")

print("Choose operation from below")
print("1. Add")
print("2. Subtract")

option=input("Enter option Number(1/2):")
calculate(option)

Choose operation from below
1. Add
2. Subtract
Enter option Number(1/2):1
Enter first Number: a

ValueError: ignored